html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  font-family: $font-main;
  // TODO: убрать скролл, когда страница станет больше
  overflow-y: scroll;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;
  margin: (-$gap / 2) 0 ($gap * 3);

  @include xs-min {
    font-size: 3rem;
  }

  @include xs {
    font-size: 2rem;
  }

  &::after { // Оранжевая полоска слева от заголовка
    position: absolute;
    margin: 0.85em 0 0 $gap;
    content: "";
    border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    width: 100%;
  }
}

h2 {
  margin: ($gap * 4) 0 ($gap * 3) ($gap * 3); // 60px 0 45px 45px - отступ сверху от предидущей секции задаётся здесь
  font-family: $font-header;
   
  @include xs-min {
    font-size: 2.5rem;
  }

  @include xs {
    font-size: 1.75rem;
  }

  // @include xs {
  //   font-size: 1.75rem;
  // }
  
  &::before { // Оранжевая полоска справа от заголовка
    position: absolute;
    left: 0;
    margin: 0.25em 0 0 0;
    content: "";
    border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    width: 30px; 
    }
  
  &::after { // Оранжевая полоска слева от заголовка
    position: absolute;
    margin: 0.85em 0 0 $gap;
    content: "";
    border-bottom: 3px solid rgba(lighten($color-accent, 15%), 0.7);
    width: 100%;
  }
}

h3 { // strong
  // TODO: оформить
}

section {
  position: relative;
  overflow: hidden;
}