.main {
  margin-bottom: $gap * 4;

  .site-search {
    margin: -$gap 0 ($gap * 3);
  }

  .user-login {
    margin-bottom: $gap * 4;
  }
}

.new-films,
.top-week {
  .row {
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
    margin-bottom: -$gap;
  }

  .thumbnail {
    margin-bottom: 0;
  }

  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;

    &__image {
      width: 100%;
    }

    &__label { // Можно переименовать на title
      margin: 0;
      font-weight: bold;
      font-size: 1rem;
      
      @include text-shortener;
    }

    .thumbnail {
      transition: background-color 0.3s ease;
    }

    .caption {
      text-align: center;
    }

    &:hover {
      .thumbnail {
        background-color: $color-accent;
        border-color: $color-accent;
      }

      .new-films-item__title,
      .top-week-item__title {
        color: lighten($color-gray, 15%);
      }
    }
  }
}

.film-news {

  &-item {

    h3 {
      a {
        transition: color 0.3s ease;
      }
    }

    .thumbnail {
      transition: background-color 0.3s ease;
      margin-bottom: $gap;
    }

    .btn-warning {
      float: right;
      transition: background-color 0.3s ease;
      margin-bottom: $gap;
    }

    &__image {
      width: 100%;
    }

    &__text {
      text-align: justify;
    }

    &:hover {
      
      .thumbnail {
      background-color: lighten($color-accent, 15%);
      }

      h3 {
        a {
        color: $color-accent;
        }
      }

      .btn-warning {
        background-color: $color-accent;
      }
    }
  }
}