.main {
  margin-bottom: $gap * 4;
}

.new-films,
.top-week {
  .row {
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
    margin-bottom: -$gap;
  }

  .thumbnail {
    margin-bottom: 0;
  }

  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;

    &__image {
      width: 100%;
    }

    &__label { // Можно (и нужно) переименовать на title
      margin: 0;
      font-weight: bold;
      font-size: 1rem;
      
      @include text-shortener;
    }

    .thumbnail {
      transition: background-color 0.25s ease;
    }

    .caption {
      text-align: center;
    }

    &:hover {
      .thumbnail {
        background-color: $color-accent;
        border-color: $color-accent;
      }

      .new-films-item__title,
      .top-week-item__title {
        color: lighten($color-gray, 15%);
      }
    }
  }
}